.cart {
    // padding: 100px 0;
    .empty-cart {
        text-align: center;
        div {
            font-size: 200px;
            color: #eee;
        }
        h1 {
            color: #191919;
            margin-top: 0;
        }
        p {
            margin-bottom: 30px;
        }
        a {
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            background-color: red;
            border: 2px solid red;
            border-radius: 10px;
            line-height: 20px;
            display: block;
            width: fit-content;
            margin: 0 auto;
            &:hover {
                color: #191919;
                background-color: white;
            }
        }
    }
    .full-cart {
        h2 {
            color: #191919;
            text-align: center;
        }
        .cart-items {
            .cart-item {
                &:first-child {
                    border-top: 1px solid #eee;
                }
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .item-image {
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    margin-right: 30px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .item-details {
                    flex-shrink: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-grow: 1;
                    color: #191919;
                    font-weight: bold;
                    .item-qty {
                        position: relative;
                        width: 110px;
                        input {
                            height: 40px; 
                            width: 100%;
                            text-align: center;
                            border: none;
                            background-color: #eee;
                            font-size: 18px;
                            border-radius: 8px;
                            color: #191919;
                            &:focus {
                                outline: none;
                            }
                        }
                        .minus-btn,
                        .plus-btn {
                            position: absolute;
                            color: #aaa;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 10px;
                            height: 40px;
                            cursor: pointer;
                            top: 0;
                            &:hover {
                                color: #777;
                            }
                        }
                        .minus-btn {
                            left: 0;
                        }
                        .plus-btn {
                            right: 0;
                        }
                    }
                }
                .delete-item {
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
        }
        .subtotal {
            margin: 20px 0 30px;
            color: #191919;
            font-size: 20px;
            text-align: right;
            font-weight: bold;
            span {
                margin-left: 100px;
            }
        }
        .delete-cart-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                cursor: pointer;
                &:hover,a:hover {
                    color: #191919;
                }
            }
        }
    }
}