.header {
    position: relative;

    .mobile-menu {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        overflow-y: scroll;
        transition: transform .3s ease;
        transform: translate(-100%);
        z-index: 21;
        background-color: white;
        &.open {
            transform: translate(0);
        }

        .close-mobile-menu {
            padding: 15px 30px;
            border-bottom: 1px solid #ddd;
            i {
                cursor: pointer;
                font-style: normal;
                &::before{
                    content: 'X';
                    padding-right: 10px;
                }
                &:hover {
                    color: #333;
                }
            }
        }
        
        .main-catrgories,
        .main-nav,
        .main-links {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
            li {
                padding: 10px 30px;
                a {
                    &:hover{
                        color: #333;
                    }
                }
            }
        }

        .main-catrgories {
            a {
                display: flex;
                align-items: center;
                font-weight: bold;
                svg {
                    height: 20px;
                    width: 34px;
                    padding-right: 10px;
                }
            }
        }
        .main-links {
            a {
                display: flex;
                align-items: center;
                i {
                    display: flex;
                    align-items: center;
                    padding-right: 10px; 
                }
            }
        }
    }
    .mobile-header {
        box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
        position: sticky;
        top: 0;
        display: none;
        margin-bottom: 20px;
        @media (max-width: 991px) {
            display: block;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            i {
                font-size: 22px;
                cursor: pointer;
            }
            .logo {
                .logo-container {
                    width: 50px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .icons {
                display: flex;
                gap: 20px;
                .search-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: white;
                    .search{
                        height: 100%;
                        .container {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            .product-search {
                                width: calc(100% - 30px);
                                input,
                                button {
                                    border: none;
                                    background-color: white;
                                }
                                input {
                                    height: 26px;
                                    font-size: 18px;
                                    width: calc(100% - 30px);
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                button {
                                    font-size: 18px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

        

    }
    .desktop-header {
        @media (max-width: 991px){
            display: none;
        }
        margin-bottom: 20px;
        .desktop-nav-search,
        .desktop-logo-links {
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .desktop-nav-search {
            background-color: #191919;
            padding: 10px 0;
            .main-nav {
                display: flex;
                li {
                    margin-right: 15px;
                    a {
                        color: #ccc; 
                    }
                    &.active,
                    &:hover {
                        a {
                            color: white;
                        }
                    }
                }
            }
            .search {
                .product-search {
                    background-color: #555;
                    border-radius: 20px;
                    padding: 5px 10px;
                    display: flex;
                    align-items: center;
                    color: white;
                    input {
                        background-color: #555;
                        border: none;
                        color: white;
                        font: 18px;
                        &::placeholder {
                            color: white;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    button {
                        background-color: #555;
                        border: none;
                        color: white;
                        cursor: pointer;
                    }
                }
                i {
                    display: none;
                }
            }
        }
        .desktop-logo-links {
            padding: 15px 0;
            .logo-container {
                width: 70px;
                img {
                    max-width: 100%;
                }
            }
            .main-links {
                display: flex;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                        color: #191919;
                        font-size: 18px;
                        &:hover{
                            color: #777;
                        }
                        i {
                            display: inherit;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .desktop-cat-with-icon {
            .container {
                padding: 0;
                .main-catrgories {
                    display: flex;
                    justify-content: space-between;
                    .caterory-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: calc(25% - 5px);
                        border: 1px solid #eee;
                        border-radius: 5px;
                        text-align: center;
                        height: 120px;
                        color: #191919;
                        // cursor: pointer;
                        font-size: 20px;
                        &:hover {
                            background-color: #eee;
                        }
                        a {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            flex-direction: column;
                            justify-content: center;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
    .desktop-sticky-header {
        @media (max-width: 991px){
            display: none;
        }
        z-index: 20;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 5px 0;
        box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
        .sticky-main-head {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo-nav {
                    display: inherit;
                    align-items: center;
                    .logo-container {
                        width: 50px;
                        margin-right: 50px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .main-nav {
                        display: inherit;
                        li {
                            margin-right: 20px;
                            font-size: 18px;
                            font-weight: 600;
                            a {
                                color: #191919;
                            }
                            &:hover,
                            &.active {
                                a {
                                    color: #777;
                                }
                            }
                        }
                    }
                }
                .icons {
                    display: inherit;
                    gap: 20px;
                    .search-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background-color: white;
                        padding: 20px 0 40px;
                        box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
                        z-index: 20;
                        .close-desktop-search {
                            font-size: 18px;
                        }
                        .search {
                            .container {
                                border-bottom: 1px solid #ccc;
                                padding-bottom: 15px;
                                margin-top: 20px;
                                .product-search {
                                    width: calc(100% - 30px);
                                    input,
                                    button {
                                        border: none;
                                        background-color: white;
                                    }
                                    input {
                                        height: 26px;
                                        font-size: 18px;
                                        width: calc(100% - 30px);
                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                    button {
                                        font-size: 18px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    .links-icon {
                        position: relative;
                        .main-links {
                            color: #777;
                            position: absolute;
                            background-color: white;
                            padding: 30px;
                            right: 0;
                            top: calc(100% + 15px);
                            box-shadow: 0px 0px 6px 0px rgba(0,0,0,.3);
                            width: 200px;
                            li {
                                margin: 15px 0;
                                a {
                                    display: flex;
                                    align-items: center;
                                    &:hover {
                                        color: #191919;
                                    }
                                    i {
                                        display: flex;
                                        align-items: center;
                                        color: #777;
                                        margin-right: 10px;
                                    }
                                }
                                
                            }
                        }
                    }
                    i {
                        cursor: pointer;
                        color: #191919;
                        &:hover {
                            color: #777;
                        }
                    }

                }
            }

        }
        .sticky-cat {
            .container{.main-catrgories {
                display: flex;
                justify-content:  space-between;
                .caterory-item {
                    width: calc(25% - 5px);
                    border-radius: 5px;
                    border: 1px solid #eee;
                    background-color: #eee;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: center;
                    height: 50px;
                    line-height: 45px;
                    a {
                        color: #191919;
                        svg {
                            display:  none;
                        }
                    }
                    &:hover {
                        background-color: white;
                    }
                }
            }}
            
        }
    }
}